
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --bg-main: hsl(217, 61%, 90%);
    --gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --bg-secondary: hsl(200, 60%, 99%);
    --toggle-color: hsl(0, 0%, 93%);

    --toggle-hover-color: hsl(0, 0%, 78%);
    --active: hsl(3, 77%, 44%);

    --fonts: "Noto Sans";
    --text-color: hsl(0, 0%, 78%);
    
}

[data-theme="dark"] {
    --bg-main: hsl(227, 75%, 14%);
     --gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
    
     --bg-secondary: hsl(225, 23%, 24%);
    --toggle-color: hsl(226, 11%, 37%);

    --text-color: #fff;
}


html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: var(--fonts), sans-serif;
    width: 100%;
    background-color: var(--bg-main);
    
}

ul {
    list-style: none;
}

/* navigation */
.nav__container {
    width: 95%;
    background: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
    margin: 2rem auto;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--toggle-color);
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .2s ease;
}

.toggle:hover {
    background-color: var(--toggle-hover-color);
}

/* filter */
.header {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}

.header h2 {
    margin-left: 3rem;
    font-size: 3rem;
    font-weight: 700;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.filterList {
    padding: .8rem 1.75rem;
    border-radius: 50%;
    cursor: pointer;
}

.filterList.active {
    background: var(--active);
    color: var(--bg-nav);
    font-size: 2rem;
}

/*grid*/

.grid {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(275px, 1fr));
    grid-template-rows: repeat(auto, 200px);
    gap: 1rem;
    margin: 2rem auto;
}

/* card design*/
.card {
    border-radius: 1.2rem;
    padding: 1rem;
    background: var(--bg-secondary);
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
}

.card__body {
    display: inline-flex;
    gap: 1.75rem;
    font-size: 1.2rem;

}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    background: transparent;
    padding: .75rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background: red;
    color: #fff;
}


/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(375px, 1fr));
    }
}

@media (min-width: 30em) and (max-width: 80em) {
  
  .grid {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
}

@media (min-width: 85em)  {
  
  .grid {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }
}